<!--<h1>ToDo List</h1>-->

<div class="container">

<div class="luna-window">
  <div class="title-bar">ToDo List</div>
  <div class="content">

    <todo-list></todo-list>

  </div>
</div>
<br>

<div class="luna-window">
  <div class="title-bar">ToDo - Add Item</div>
  <div class="content">
    <form [formGroup]="newItemForm" (ngSubmit)="addItem()">
      <label>Label</label>
      <input type="text" class="luna-input" formControlName="label" />

      <br>

      <label>Description (optional)</label>
      <input type="text" class="luna-input" formControlName="description" />

      <button>Add Item</button>
    </form>
  </div>
</div>

</div>
